.tab-list-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  margin: 10px;
}

.tab-list-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  color: #002237;
}

.tab-list {
  display: flex;
  gap: 0.5rem;
  flex: 1; 
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-evenly {
  justify-content: space-evenly;
}
