:root {
  --primary: #0088dd;
  --secondary: #005582;
  --danger: #8f2f2f;
  --success: #36a636;
  --black-transparent: rgba(0, 0, 0, 0.548);
  --white: #ffffff; 
}


body {
  margin: 0;
  box-sizing: border-box;
}

.btn {
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-primary {
  --btn-color: var(--primary);
}

.btn-secondary {
  --btn-color: var(--secondary);
}

.btn-danger {
  --btn-color: var(--danger);
}

.btn-success {
  --btn-color: var(--success);
}

.btn-black-transparent-color {
  --btn-color: var(--black-transparent);
}


.btn-black-transparent {
  background-color: rgba(0, 0, 0, 0.3); 
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-solid {
  background-color: var(--btn-color);
  color: var(--white);
}

.btn-outline {
  background-color: var(--white);
  color: var(--btn-color);
  border: 1px solid var(--btn-color);
  font-weight: 600;
}
.btn-ghost {
  background-color: transparent ;
  border: none;
  color: var(--btn-color) ;
}


.btn-sm {
  padding: 0.4rem 0.8rem;
  font-size: 0.875rem;
}

.btn-md {
  padding: 0.5rem 1.1rem;
  font-size: 1rem;
}

.btn-lg {
  padding: 1.2rem 2.4rem;
  font-size: 1.3rem;
}

.btn-icon-left {
  display: inline-flex;
  margin-right: 0.5rem; 
  vertical-align: middle;
}

.btn-icon-right {
  display: inline-flex;
  margin-left: 0.5rem; 
  vertical-align: middle;
}


